h1 {
    text-align:center;
    background-color: aqua;
}
h3{
    background-color: blue;
}

p {
    text-align: center;
    font-size: medium;
}

strong {
    font-size: larger;
}

body {
    background-color: blueviolet;
}
.imagem1 {
    width: 20px;
}
.unicornio {
    background-color: forestgreen

}
.brilho {
   color: aqua;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }

nav a{
    text-transform: uppercase;
    color: blanchedalmond;
    font-weight: 300;
    font-size: 100%;
}
